---
layout: default
---

<div class="home">

  <h1>Hack Oregon Framework and Best Practices</h1>

  <p>This guide contains a framework for the current Hack Oregon season and some best practices for use across our teams. This is a living document that will go through iterations as the project season progresses</p>

  <p>By developing this material in the open, we hope to encourage expert review and contributions from members of the tech community, furthering our mission of making public information, public knowledge</p>

  <p>This is our first iteration of centralizing our methods, borrowed heavily from <a href="https://pages.18f.gov/guides/">18F</a>.<p>

  <h2>Hack Oregon Fall/Winter 2016 Project Mission</h2>

  <h3>Call to Action</h3>
    <p>Hack Oregon is partnered with early adopters from the City of Portland and Civic Apps to reimagine the concept of an interactive open data portal, which ca serve to inform and engage the public as well as provide insight to City operations and decision making.</p>

  <h3>Vision</h3>
    <p>This year, we’re designing and building a platform to publish all our projects as dynamic story collections powered by open APIs.  Story collections will be highly custom based on each team’s perspective, but will all include a mix of data visualization, data science and analysis, and creative content.</p>

  <h3>Context</h3>
    <p>Many of the data sources we are working with this year have never been machine readable or available online.  Even if a data source is not used in a story, we have the intent to make data sources securely, searchable, and accessible through linked APIs.  In all possible cases, we will make our best attempt to create for interdepartmental compatibility between data sources.</p>

  <h3>Themes</h3>
    <p>Budget | Housing | Transportation | Emergency Response | Homelessness</p>







  <h1 class="page-heading">Sections</h1>

  <ol>
    {% for suite in (1..10) %}
      {% for post in site.posts %}
        {% if post.suite == suite %}
        <li>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ol>

</div>
